* {
    box-sizing: border-box;
    outline: none;
}

body {
    overflow: hidden;
    margin: auto;
}


/* NAVBAR */

header {
    text-transform: uppercase;
    background-color: rgb(219, 170, 170);
    padding: 0.5%;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
    display: flex;
}

#hamburger,
#hamburger-content {
    width: 100%;
    display: inline-flex;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#hamburger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
}

#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar {
    box-sizing: border-box;
    display: none;
    position: absolute;
    width: 50%;
    z-index: 20;
    height: 70%;
    top: 91px;
    left: 0;
    background-color: rgb(219, 170, 170);
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}

#hamburger-sidebar li {
    display: block;
    width: 100%;
}

#hamburger-sidebar-header {
    background: url(../images/sidebar-header.png) center;
    background-size: cover;
    height: 128px;
}

#hamburger-sidebar-body {
    padding: 8px 8px;
}

#hamburger-sidebar-body .button {
    margin-top: 16px;
    text-align: center;
    float: none;
    display: block;
    height: auto;
    line-height: inherit;
    padding: 10px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(219, 170, 170);
}

nav ul li {
    width: 100%;
    border-right: 1px solid rgb(121, 68, 146);
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    width: 100%;
    display: inline-block;
    font-size: 0.8em;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 12px;
}

nav ul li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(243, 198, 245);
    transition: 1s;
}

nav ul li.dropdown {
    display: inline-block;
}

.button {
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    line-height: 40px;
    padding: 0 8px;
    font-size: 0.8em;
    color: #333;
}


/* DROPDOWN */

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #f1c9e7;
    border-radius: 12px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: 333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 12px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
}


/* CONNECTBAR */


/* ------------------------------------------------------------------------------------------------ */


/* MEDIAQUERRY */

@media screen and (max-width: 934px) {
    h1 {
        font-size: 42px;
        line-height: 56px;
    }
    #connectBar {
        display: none;
    }
    #hamburger {
        flex-direction: row-reverse;
    }
    #hamburger-content {
        display: none;
    }
    #hamburger-button {
        display: flex;
        padding-right: 20px;
    }
    #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }
    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }
    .dropdown {
        position: relative;
    }
    .dropdown-content {
        display: none;
        margin-inline-start: 30%;
        width: auto;
        z-index: 100;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        border-right: none;
        padding: 0;
    }
    nav ul li a,
    .dropbtn {
        text-align: left;
        padding: 2%;
    }
}


/* --------------------------------------------------------------------------------- */