body {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    color: green;
}

.navbar {
    background-color: #c2f31f;
}

a.nav-link {
    color: #2e2c2c;
}

li a {
    border-radius: 6px;
    transition-duration: 0.8s;
}

li a:hover,
.nav-item:hover .nav-link {
    background-color: #70acf0;
}

li.nav-item {
    display: inline-block;
    border-right: 1.5px solid #6b3a96;
}

.dropdownUl {
    display: none;
    position: absolute;
    background-color: #70acf0;
    border-radius: 6px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0.5% 0.5%;
}

.dropdownLi {
    border-bottom: 1.5px solid #6b3a96;
}

.dropdownUl a {
    font-size: 1.2em;
    color: #c2f31f;
    text-shadow: 2px 1px 3px black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownUl a:hover {
    background-color: #95c1f3;
}

.nav-item:hover .dropdownUl {
    display: block;
}